{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="header">Login</div>

    {# Affichage des erreurs #}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}

    <form class="form" action="{{ path('login') }}" method="post" data-turbo="false">
        
        <input class="text_input" type="text" id="username" name="_username" placeholder="Saisir utilisateur" required>

        <input class="text_input" type="password" id="password" name="_password" placeholder="Saisir mot de passe" required>    

        <select class="form-list" name="role" id="role-select" required>
            <option value="">Choisir un rôle</option>
            <option value="admin">Admin</option>
            <option value="comptabilite">Comptabilité</option>
            <option value="visiteur">Visiteur</option>
        </select>

        <button class="button" type="submit">Login</button>
    </form>
{% endblock %}
