// Déclaration des fonts

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrainsMono-Regular';
    src: url('/fonts/JetBrainsMono/JetBrainsMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrainsMono-Bold';
    src: url('/fonts/JetBrainsMono/JetBrainsMono-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

// Déclaration des variables SCSS

$white-color: #fff;
$black-color: #000;

$header-font-size: 32px;
$body-font-size: 18px;

$component-width: 350px;
$component-height: 50px;

$border-radius: 10px;
$border-thickness: 2px;

$margin-top: 100px;
$gap-medium: 40px;
$gap-small: 20px;
$padding-textinput: 15px;

$title-font-family: 'Montserrat', sans-serif;
$body-bold-font-family: 'JetBrainsMono-Bold', monospace;
$body-font-family: 'JetBrainsMono-Regular', monospace;

// Déclaration des styles

body {
    background-color: $white-color;
    display: flex;
    gap: $gap-medium;
    flex-direction: column;
    align-items: center;
    font-family: $body-font-family;
    margin-top: $margin-top;
}

.form {
    display: flex;
    gap: $gap-small;
    flex-direction: column;
    align-items: center;
    &-list {
        height: $component-height;
        width: $component-width;
        border-radius: $border-radius;
        border: $border-thickness solid $black-color;
        font-size: $body-font-size;
        font-family: $body-font-family;
        padding: 0 $padding-textinput;
    }
}

.header {
    font-size: $header-font-size;
    font-weight: bold;
    font-family: $title-font-family;
}

.button {
    background-color: $black-color;
    color: $white-color;
    height: $component-height;
    width: $component-width;
    border-radius: $border-radius;
    font-size: $body-font-size;
    font-weight: bold; 
    font-family: $body-bold-font-family;
    border: none;
    cursor: pointer;
}

.text_input {
    height: $component-height;
    width: $component-width - (5px + ($padding-textinput*2));
    border-radius: $border-radius;
    border: $border-thickness solid $black-color;
    font-size: $body-font-size;
    font-family: $body-font-family;
    padding: 0 $padding-textinput;
}
